/* Write your CSS here */
.repos-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6px;
  background-color: #f8f8ff;
  padding: 8px;
  border-radius: 10px;
  width: 150px;
}

@media screen and (min-width: 562px) {
  .repos-items {
    width: 200px;
    margin: 10px;
  }
}

.repos-logo-image {
  width: 50px;
  text-align: center;
  padding-top: 10px;
}
.repos-heading {
  text-align: center;
  color: rgb(214, 0, 100);
  font-size: 18px;
}

.repos-other-details-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.repos-other-details {
  display: flex;
  align-items: center;
}

.repos-other-details-image {
  width: 20px;
}
.repos-other-details-users-count {
  font-size: 12px;
  padding-left: 10px;
}