/* Write your CSS here */
.language-button {
  border: none;
  background-color: transparent;
}

.language-tab-item {
  list-style: none;
  margin: 4px;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .language-tab-item {
    font-size: 18px;
    font-weight: 600;
  }
}

.language-active-tab-item {
  border: 2px solid #0284c7;
  border-radius: 10px;
  padding: 4px;
  list-style: none;
  padding: 8px;
  font-size: 15px;
  color: #0284c7;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .language-active-tab-item {
    font-weight: 600;
  }
}